@font-face {
  font-family: "Nineteenth";
  src: url("../fonts/Nineteenth.woff");
}

* {
  box-sizing: border-box;
  font-family: Nineteenth;
}

body {
  margin: 0;
  padding-top: 70px;
  position: relative;
  font-size: 17px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #1d1235;
  z-index: 2;
}

.nav a {
  display: inline-block;
  margin: 0 30px;
  width: auto;
  height: 90%;
  user-select: none;
}

.nav a .logo {
  width: auto;
  height: 100%;
}

.nav-search {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-search-bar {
  display: block;
  position: relative;
  min-width: 300px;
  width: 100%;
  max-width: 1000px;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
}

.nav-search-right {
  width: 80px;
  background-color: #ff2366;
  border: none;
  color: white;
  height: 40px;
  border-radius: 0 5px 5px 0;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
  margin-right: 20px;
  height: 100%;
}

.nav-right-item {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 30px 0 60px;
  position: relative;
  font-size: 20px;
}

.nav-right .login::before {
  content: "";
  background-image: url("../img/user.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  left: 15px;
  position: absolute;
}

.nav-right .basket::before {
  content: "";
  background-image: url("../img/basket.png");
  background-size: cover;
  width: 27px;
  height: 27px;
  left: 20px;
  position: absolute;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 1260px;
  margin: 20px auto;
  grid-gap: 20px;
}

@media screen and (max-width: 1365px) {
  .grid {
    width: 800px;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .grid {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid .product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  transition: 0.1s;
  padding: 30px 10px 20px;
  text-decoration: inherit;
  color: inherit;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  cursor: pointer;
}

.grid .product-card:hover {
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.329);
  transform: translate(-2px, -2px);
}

.grid .product-card p {
  font-size: 15px;
  margin: 7px 0;
  height: 32px;
  overflow: hidden;
}

.grid .product-card .price {
  font-size: 25px;
  color: #471553;
}

.grid .product-card img {
  display: flex;
  width: 100%;
  height: 170px;
  object-fit: contain;
}

.grid .product-card .delivery {
  font-size: 14px;
  position: absolute;
  top: 8px;
  left: 13px;
}

.grid .product-card .delivery.green {
  color: #2eb329;
}

.grid .product-card .delivery.red {
  color: #d41f55;
}

.product-grid {
  display: grid;
  width: 1260px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 600px 90px;
  grid-template-areas: "t t t t t t t . . . . ." "p p p p p p p r r r r r" "s1 s2 s3 s4 s5 s6 s7 . . . . .";
  width: 1260px;
  margin: 20px auto;
  grid-gap: 20px;
}

@media screen and (max-width: 1365px) {
  .product-grid {
    width: 800px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto 400px 90px;
    grid-template-areas: "t t t t t t" "p p p p r r" "s1 s2 s3 s4 s5 s6" "s7 . . . . .";
  }
}

@media screen and (max-width: 900px) {
  .product-grid {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 500px auto 90px 90px 90px;
    grid-template-areas: "t t t" "p p p" "r r r" "s1 s2 s3" "s4 s5 s6" "s7 . .";
  }
}

.product-grid .product {
  grid-area: p;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  background-color: #f9f9fb;
  border-radius: 5px;
}

.product-grid .product img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.product-grid .product-right {
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
  grid-area: r;
}

.product-grid .product-small {
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small1 {
  grid-area: s1;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small2 {
  grid-area: s2;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small3 {
  grid-area: s3;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small4 {
  grid-area: s4;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small5 {
  grid-area: s5;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small6 {
  grid-area: s6;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small7 {
  grid-area: s7;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small8 {
  grid-area: s8;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .product-small9 {
  grid-area: s9;
  background-color: #f9f9fb;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.527);
  border-radius: 5px;
}

.product-grid .title {
  font-size: 20px;
  font-weight: 900;
  grid-area: t;
}

.box {
  height: 300px;
  background-color: #ececec;
  border: solid 2px #44345a;
  border-radius: 5px;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  grid-column: 1/13;
  overflow: hidden;
  left: 0;
  border-radius: 5px;
  top: 0;
}

@media screen and (max-width: 1365px) {
  .header {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .header {
    grid-column: 1/5;
  }
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

@media screen and (max-width: 900px) {
  .col-3 {
    grid-column: 1/5;
  }
}

.col-4 {
  grid-column: span 4;
}

@media screen and (max-width: 900px) {
  .col-4 {
    grid-column: 1/5;
  }
}

.col-5 {
  grid-column: span 5;
}

@media screen and (max-width: 900px) {
  .col-5 {
    grid-column: 1/5;
  }
}

.col-6 {
  grid-column: span 6;
}

@media screen and (max-width: 1365px) {
  .col-6 {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .col-6 {
    grid-column: 1/5;
  }
}

.col-7 {
  grid-column: span 7;
}

@media screen and (max-width: 1365px) {
  .col-7 {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .col-7 {
    grid-column: 1/5;
  }
}

.col-8 {
  grid-column: span 8;
}

@media screen and (max-width: 1365px) {
  .col-8 {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .col-8 {
    grid-column: 1/5;
  }
}

.col-9 {
  grid-column: span 9;
}

@media screen and (max-width: 1365px) {
  .col-9 {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .col-9 {
    grid-column: 1/5;
  }
}

.col-10 {
  grid-column: span 10;
}

@media screen and (max-width: 1365px) {
  .col-10 {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .col-10 {
    grid-column: 1/5;
  }
}

.col-11 {
  grid-column: span 11;
}

@media screen and (max-width: 1365px) {
  .col-11 {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .col-11 {
    grid-column: 1/5;
  }
}

.col-12 {
  grid-column: span 12;
}

@media screen and (max-width: 1365px) {
  .col-12 {
    grid-column: 1/7;
  }
}

@media screen and (max-width: 900px) {
  .col-12 {
    grid-column: 1/5;
  }
}
/*# sourceMappingURL=style.css.map */