$nav-h: 75px;
@font-face {
  font-family: "Nineteenth";
  src: url("../fonts/Nineteenth.woff");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: $nav-h;
  position: relative;
  font-family: Nineteenth;
  font-size: 17px;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-h;
  background-color: rgb(29, 18, 53);
  .logo {
    margin: 0 30px;
    height: 100%;
    width: auto;
    user-select: none;
  }
  &-search {
    display: flex;
    flex-direction: row;
    width: 100%;
    &-bar {
      display: block;
      position: relative;
      min-width: 300px;
      width: 100%;
      max-width: 1000px;
      height: 40px;
      border: none;
      background-color: white;
      border-radius: 5px 0 0 5px;
      padding: 0 10px;
    }
    &-right {
      width: 80px;
      background-color: #ff2267;
      border: none;
      color: white;
      height: 40px;
      border-radius: 0 5px 5px 0;
    }
  }
  &-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-right: 20px;
    height: 100%;
    &-item {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 30px 0 60px;
      position: relative;
      font-size: 20px;
    }
    .login::before {
      content: "";
      background-image: url("../img/user.png");
      background-size: cover;
      width: 30px;
      height: 30px;
      left: 15px;
      position: absolute;
    }
    .basket::before {
      content: "";
      background-image: url("../img/basket.png");
      background-size: cover;
      width: 27px;
      height: 27px;
      left: 20px;
      position: absolute;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 1260px;
  margin: 20px auto;
  grid-gap: 20px;
  @media screen and (max-width: 1300px) {
    width: 800px;
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (max-width: 900px) {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
  }
  &-item {
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border: solid 2px rgb(68, 52, 90);
  }
  .box {
    height: 300px;
  }
  .header {
    height: 100px;
    grid-column: 1/13;
    @media screen and (max-width: 1300px) {
      grid-column: 1/7;
    }
    @media screen and (max-width: 900px) {
      grid-column: 1/5;
    }
  }
  @for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span #{$i};
      @if ($i >= 6) {
        @media screen and (max-width: 1300px) {
          grid-column: 1/7;
        }
      }
      @if ($i >= 3) {
        @media screen and (max-width: 900px) {
          grid-column: 1/5;
        }
      }
    }
  }
}
